html {
    font-family: "IBM Plex Mono", "Courier New", monospace;
    font-style: normal;
    /*background-color: #E9E1DB;*/
    background-color: #F0E0CC;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    line-height: 1.6;
}

body {
    /*-webkit-font-smoothing: antialiased;*/
    font-size: 14px;
    /*color: #241c19;*/
    color: #7E5625;

}

h1 {
    font-weight: 900;
}

.general {
    margin-top: 50px;
}

.navbar a {
    text-align: center;
    text-decoration: none;
    color: #5B3E1A;
}

.navbar a.active {
    color: #372610; /* highlight color */
    font-weight: bold; /* maybe bold it */
    /*border-bottom: 2px solid #5B3E1A;  underline effect */
}

.navbar ul {
    list-style: none;
    text-align: center;
}
.navbar ul li {
    display: inline-block;
    padding: 10px
}

.about-me {
    padding-left: 2em;
}
/* Inter,system-ui,-apple-system,sans-serif;*/

/*
.navbar a { 
    text-align: center;
    text-decoration: none;
    color: gray;
}

.navbar a:hover {
    background-color: #C7C7CC;
    border-radius: 10px;
    padding: 7px;
}

.navbar ul {
    list-style: none; 
    text-align: center;
}

.navbar ul li {
    display:inline-block; 
    padding:0 7px; 
    position:relative;
}

ul li:not(:last-child)::after{
  content:""; 
  border:1px solid #e2e2e2;
  border-width: 1px 1px 0 0;
  position:absolute; 
  right:-3px; 
  top:0; 
  height:100%;
}

*/
